{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"},
        org.apache.jena/apache-jena-libs {:mvn/version "4.0.0", :extension "pom"}}
 :aliases {:run-tests {:main-opts ["-m" "cognitect.test-runner"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.sun.xml.bind/jaxb-core {:mvn/version "2.3.0.1"}
                               javax.xml.bind/jaxb-api {:mvn/version "2.3.1"}
                               com.sun.xml.bind/jaxb-impl {:mvn/version "2.3.1"}
                               com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}}}}
